# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
pages
data_json
/generated/prisma

# Ignore SQLite dev database
prisma/dev.db
prisma/prisma/dev.db
*.db-journal

